* {
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: Poppins, sans-serif;
    background: rgba(176, 252, 195, 0.3)
}


.header {
    color: rgb(49, 32, 32);
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.sauce {
    color: gray;
    text-decoration: none;
    margin: 0;
    margin-bottom: 20px;
}

.sauce:hover {
    color: black;
}

.recipe-li li {
    display: inline-block;
}

a {
    color: black;
}

a:hover {
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    background-color: rgba(18, 29, 21, 0.3);
}

img {
    height: auto;
    width: 400px;
}

.description {
    font-size: 20px;
    font-weight: bold;
}