* {
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: Poppins, sans-serif;
    background: rgba(176, 252, 195, 0.3)
}


#header {
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: bold;
}

.sauce {
    color: gray;
    text-decoration: none;
    margin: 0;
}

.sauce:hover {
    color: black;

}

a {
    color: black;
}

a:hover {
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    background-color: rgba(18, 29, 21, 0.3);
}

